# MongoDB Connection String
# Obtenha sua URI em: https://www.mongodb.com/cloud/atlas
# Formato: mongodb+srv://usuario:senha@cluster.mongodb.net/database?retryWrites=true&w=majority

MONGODB_URI=MONGODB_URI:mongodb+srv://smartstock:smart%40stock@smartstock.erkrji7.mongodb.net/?appName=smartstock
# Opcoes adicionais
NODE_ENV=development

# Limpar base antes de popular?
CLEAR_DATABASE=true

# Debugar conexao?
DEBUG_MODE=false
